["List of known public DNS resolvers","List of hashes for EICAR test virus","List of known hashes for empty files","List of known google domains","List of known microsoft domains","List of known Office 365 URLs and IP address ranges","List of RFC 5771 multicast CIDR blocks","List of RFC 1918 CIDR blocks","List of RFC 3849 CIDR blocks","List of RFC 5735 CIDR blocks","List of RFC 6598 CIDR blocks","List of known domains used by automated malware analysis services","Second level TLDs as known by Mozilla Foundation","TLDs as known by IANA","List of known URL Shorteners domains","List of known hashes with common false-positives (based on Florian Roth input list)","List of known domains to know external IP","List of known Windows 10 connection endpoints","List of known sinkholes","List of known IPv4 public DNS resolvers","List of known IPv6 public DNS resolvers","Top 1000 website from Alexa"]
